:root {
    --cmd: #fff021;
    --fdnd: #66e5bf;
    --dd: rgb(8, 93, 196);
    --professorship: rgb(243, 45, 154);
}
body {
    -webkit-font-smoothing: antialiased;
    font-family: 'Open Sans';
    font-weight: 400;
    margin:0;
    color:#333;
    padding-top:3rem
}
header {
    padding:1rem;
    position: relative;
    background-color: #333;
    color:#fff;
    position:fixed;
    width:100%;
    z-index:100;
    top:0;
}
header:after {
    content:'';
    width:100%;
    height:1rem;
    position: absolute;
    bottom:0;
    left:0;
    background: linear-gradient(-230deg, var(--fdnd) 20%, var(--cmd) 35%, var(--dd) 81%, var(--professorship) 96%);
}
h1, h2, h3 {
    margin-left: .5rem;
}
h1 {
  margin:0 .5rem;  
  font-size: 1.5rem;
  text-transform: uppercase;
}
h1 em {
    display:block;
    font-style: normal;
}
h1 em.fdnd {
    color:var(--fdnd)
}
h1 em.cmd {
    color:var(--cmd)
}
h1 em.dd {
    color:var(--dd)
}

main {
    padding: 1rem
}
h2 {
    
}
h3 time {
    font-weight: normal;
    font-size: .9rem;
}
ul {
    list-style:none;
    padding:0;
}
ul li {
    display:flex;
    flex-direction:column;
    background:#eee;
    padding:.5rem;
    border-radius:.5rem;
    position:relative
}
li.fdnd {
    background-color: var(--fdnd);
}
li.cmd {
    background-color: var(--cmd);
}
li.dd {
    background-color: var(--dd);
    color:#fff
}
li.professorship {
    background-color: var(--professorship);
    color:#fff
}
section > ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap:1rem
}
section > ul > li {
    padding-bottom:.5rem;
    position: relative;
}

ul li p:first-of-type {
    font-size: .8em;
    margin: 0 0 0.5rem;
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
    background-color: rgb(255, 255, 255);
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
    border: 1px solid rgb(190,190,190);
}

ul a {
    color:inherit;
    text-decoration:none;
    margin-bottom: 1rem;
}

ul img {
    height:12rem;
    object-fit: cover;
    border-radius:.25rem;
    border: 1px solid rgb(190,190,190);
    background-color: rgb(190,190,190);
}

ul ul {
    display:flex;
    flex-wrap:wrap;
    font-size: .9rem;
    margin-top:auto;
}
ul ul:first-of-type {
    padding-top:.5rem
}
ul ul:last-of-type {
    margin-top: .05rem;
    flex-direction:column;
}

ul ul li {
    border-radius:.25rem;
    padding:.25rem;
    margin-right:.25rem;
    margin-top:.25rem;
    display:flex;
}

ul ul:last-of-type li {
    margin-right: 0;
}



section > ul > li > a:first-of-type {
    font-weight: bold;
}

ul ul a {
    margin-bottom: 0;
}


@media (min-width:45em){
    h1 em {
        display:inline
    }
}